.navCont {
  display: flex;
}

.tabButton {
  text-align: start;
  font-family: 'Rubik';
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
  text-decoration: none; 
  color: gray;
}

.tabButton:hover {
  color: #ff5100; 
}

.tabButton.active {
  color: #fc621a;
}

.slash {
  color: #ff5100;
  font-family: 'Rubik';
  font-size: 28px;
  margin: 0 10px;
}